Checks: >
  -*,
  bugprone-*,
  performance-*,
  
  modernize-*,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,

  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,

  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers

HeaderFilterRegex: '^(include|src|tests)/'

WarningsAsErrors: ''

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: "0"